.neutral .r_eye,
.neutral .l_eye {
  transform-origin: 50%;
  animation: _blink 3s infinite;
  animation-delay: 3s;
}

.talk {
  transform-origin: 50%;
  transform-box: fill-box;
  animation: _talk 2s infinite;
}

@keyframes _blink {
  0%,
  100% {
    transform: scale(1, 0.05);
  }
  5%,
  95% {
    transform: scale(1, 1);
  }
}

@keyframes _talk {
  0%,
  100% {
    transform: scale(1, 1);
  }
  20%,
  80% {
    transform: scale(1, 2);
  }
  50% {
    transform: scale(1, 1);
  }
}

.option_sad1,
.option_sad2,
.option_disgust,
.option_fear1,
.option_fear2 {
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* .happy {
  animation: _happy 1.5s infinite;
}

@keyframes _happy {
  0%,
  100% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(10deg);
  }
}

.worry .r_eyebrow {
  animation: _worry_r 2s infinite;
  transform-origin: right;
  transform-box: fill-box;
}

@keyframes _worry_r {
  0%,
  100% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(-10deg);
  }
}
.worry .l_eyebrow {
  animation: _worry_l 2s infinite;
  transform-box: fill-box;
}

@keyframes _worry_l {
  0%,
  100% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(10deg);
  }
}

.surprise .r_eye,
.surprise .l_eye,
.surprise .mouse {
  transform-origin: 50%;
  animation: _surprise 2s infinite;
  animation-delay: 0.5s;
  transform-box: fill-box;
}

.surprise .r_eyebrow,
.surprise .l_eyebrow {
  animation: _surprise_eb 2s infinite;
  animation-delay: 0.5s;
}

@keyframes _surprise_eb {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
}

@keyframes _surprise {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(2);
  }
}

.anger {
  animation: _anger 0.5s infinite;
}

@keyframes _anger {
  0%,
  100% {
    transform: translate(0px, 0px);
  }
  20% {
    transform: translate(-5px, -0px);
  }
  40% {
    transform: translate(-5px, -5px);
  }
  60% {
    transform: translate(5px, 5px);
  }
  80% {
    transform: translate(5px, -5px);
  }
}

.sadness .r_eye,
.sadness .l_eye {
  animation: _surprise_eb 1s ease infinite;
}

.option_sad1 {
  animation: _tear 1.5s linear infinite both;
  animation-delay: 1.3s;
}
.option_sad2 {
  animation: _tear 1.5s linear infinite both;
  animation-delay: 1s;
}
@keyframes _sad {
}
@keyframes _tear {
  0% {
    transform: translate(0);
    opacity: 1;
  }
  25% {
    transform: translate(0px, 50px);
  }
  50% {
    transform: translate(0px, 100px);
  }
  75% {
    transform: translate(0px, 200px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.fear {
  animation: _shake 0.3s infinite;
}
.fear .r_eye,
.fear .l_eye {
  transform-origin: 50%;
  animation: _fear 3s ease infinite;
}
@keyframes _fear {
  0%,
  100% {
    transform: scale(1, 1);
  }
  25%,
  75% {
    transform: scale(1, 0.5);
  }
}
@keyframes _shake {
  0%,
  100% {
    transform: translateX(-2px);
  }
  50% {
    transform: translateX(2px);
  }
}

.disgust .r_eye,
.disgust .r_eyebrow {
  animation: _disgust_r 2s infinite;
}

@keyframes _disgust_r {
  0%,
  100% {
    transform: translate(0px, 0px);
  }
  50% {
    transform: translate(-5px, 5px);
  }
}
.disgust .l_eye,
.disgust .l_eyebrow {
  animation: _disgust_l 2s infinite;
}

@keyframes _disgust_l {
  0%,
  100% {
    transform: translate(0px, 0px);
  }
  50% {
    transform: translate(5px, 5px);
  }
}
.disgust .mouse,
.disgust .option_disgust {
  transform-origin: 50%;
  animation: _disgust 2s infinite;
}

@keyframes _disgust {
  0%,
  100% {
    transform: translateY(-10px);
    transform: scale(0.6);
  }
  50% {
    transform: translateY(0px);
    transform: scale(1);
  }
} */
